<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mail-contact form</title>
    <!-- <link rel="stylesheet" href="../public/style.css"> -->
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
      .box{
        display: flex;
        justify-content: center;
        margin-top: 1.1in;
        text-align: center;
        
      }
      .form
      {
        background: rgba(250, 249, 248, 0.4);
        padding: 100px;
        border-radius: 5px;
        
        
      }
      body{
        background-image: url('https://images.pexels.com/photos/633409/pexels-photo-633409.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
        background-repeat: no-repeat;
        background-size: cover;
        font-family: 'Poppins', sans-serif;
      }
      input,textarea{
        border: none;
        border-radius: 2px;
      }
      .btn{
        border: none;
        
        padding: 8px;
        border-radius: 3px;
      }
      h1{
        color: white;
        text-align: center  ;
        margin-top: 40px;
      }
    </style>
  </head>

  <body>
    <div class="container">
      <h1>Notes Transfer Form..</h1>
      <div class="box">
        <form id="form" action="http://localhost:8000/sendMail" method="post" class="form">
          
          <input
          style="height:30px;"
            type="text"
            name="name"
            id="name"
            placeholder="Enter your name"
          /><br /><br>
          <!-- contact : <input type="number" name="contact" id="contact" placeholder="Enter your contact"><br> -->
          
          <input
          style="height: 30px;"
            type="email"
            name="email"
            id="mail"
            placeholder="Enter your email"
          /><br /><br>
          
          <textarea
            name="msg"
            id="txt"
            cols="20"
            rows="2"
            placeholder="Enter the message"
          ></textarea><br /><br /><br>
         
          <input
            type="file"
            name="file"
            id="file"
          /><br /><br />
          <button class="button1" type="submit" class="btn">Send</button>
        </form>
      </div>
    </div>
  </body>
</html>
